body{ 
    font: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}
#container {
    width: 90%;
    margin: 0 auto;
}

h1 a{
    font-size: 50px;
    font-weight: 100;
    color: #e70808;
    text-decoration: none;
}

#searchbox {
    /* float: right; */
    flex: 50%;
    background: linear-gradient(lightgray, darkgrey);
    -webkit-background: linear-gradient(lightgray, darkgrey);
    -o-background: linear-gradient(lightgray, darkgrey);
    -moz-background: linear-gradient(lightgray, darkgrey);
    min-width: 400px;
    /* padding: 20px; */
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    float: left;
    width: 200px;
    padding: 5px;
    font-size: 15px;
    color: purple;

}

.submit {
    float: right;
    padding: 5px;
    font-weight: bold;
    background: #e70808;
    font-size: 15px;
}
#header {
    /* height: 100px; */
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
}
#brand {
    /* float: left; */
    flex: 50%;

}

.clear {
    clear: both;
}


#menu a {
    /* float: left; */
    padding: 0 30px;
    height: 30px;
    border-right: 1px solid whitesmoke;
}

#menu {
    background: linear-gradient(rgb(221, 34, 34), darkred);
    -webkit-background: linear-gradient(rgb(221, 34, 34), darkred);
    -o-background: linear-gradient(rgb(221, 34, 34), darkred);
    -moz-background: linear-gradient(rgb(221, 34, 34), darkred);
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
}

#menu a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    color: whitesmoke;
    line-height: 20px;
    transition: font-size 0.3s ease;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;

}

#menu a:hover, #menu a.active{
    font-size: 20px;
    font-weight: bold;
    color:aliceblue
}

@media screen and (max-width: 700px){
    #menu{
        flex-direction: column;
        align-content: center;
    }
    #menu a {
        border-right: none;
    }
}

#menu a:last-child {
    border-right: none;
}

#introduction {
    background: linear-gradient(lightgray, darkgrey);
    -webkit-background: linear-gradient(lightgray, darkgrey);
    -o-background: linear-gradient(lightgray, darkgrey);
    -moz-background: linear-gradient(lightgray, darkgrey);
    padding: 30px;
    margin: 16px 0;
}

#introduction h3 {
    font-size: 45px;
    color: darkred;
    font-weight: normal;
}

#introduction p {
    font-size: 25px;
    text-align: justify;
}

.sidebar {
    height: 100%;
    width: 100%;
    border: 1px solid darkgray;
    border-radius: 20px;
    padding: 10px 30px;
    
}

.sidebar h3{
    color: darkred;
    font-size: 30px;
}

.sidebar ul li a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.sidebar ul li a:hover, .sidebar ul li a.active{
    text-decoration: none;
    color: #e70808;
    font-size: 23px;
    font-weight: bold;
    transition: font-size 0.3s ease;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
}

#leftsidebar ul li{
    padding-bottom: 10px;
    padding-left: 10px;
}

#rightsidebar ul li{
    padding-bottom: 20px;
}
.sidebar ul{
    padding-top: 8px;

}
/* #leftsidebar {
    float: left;
    
}

#rightsidebar{
    float: right;
} */

.sidebars {
    display: flex;
    flex-wrap: wrap;
}

.sidebarWrapper {
    flex: 50%;
    padding: 10px;
}
.footer {
    height: 60px;
    background: linear-gradient(rgb(221, 34, 34), darkred);
    -webkit-background: linear-gradient(rgb(221, 34, 34), darkred);
    -o-background: linear-gradient(rgb(221, 34, 34), darkred);
    -moz-background: linear-gradient(rgb(221, 34, 34), darkred);
    padding: 10px 30px;
    margin-top: 15px;
}